<div class="pt-5 mx-auto">
  <div class="container-fluid" *ngIf="userRole!=='Administrator'">

    <div class="row justify-content-center animated rotateInDownLeft" style="padding-top: 25px">
      <div class="col" *ngFor="let item of data; let id= index;" style="padding-top: 10px; ">
        <div class="card" style="margin-bottom: 10px;
           cursor: pointer; " (click)="updateTicketLogTypeSelector(id)" id="counterCard">
          <div class="card-body text-center" style="background-color: rgba(255,255,255,0.4); ">
            <div class="h2-responsive" style="color: rgb(3, 0, 34)">
              <strong>{{item.Count}}</strong>
            </div>
            <span class="card-text" style="color: #32375f"><strong>{{item.TicketStatus}}</strong></span>
          </div>
          <div class="" [ngClass]="{
            'badge-default2':item.TicketStatus==='Open' ,
            'badge-primary2':item.TicketStatus==='WIP',
            'badge-warning2':item.TicketStatus==='Hold',
            'badge-success2':item.TicketStatus==='Close',
            'badge-grey2':item.TicketStatus==='Cancel'
            }">
          </div>
        </div>
      </div>
      <div class="col animated slideInRight" style="padding-top: 10px;" *ngIf="chartVisible">
        <div class="card hoverable" style="margin-bottom: 10px;
             cursor: pointer; " (click)="updateTicketLogTypeSelector(id)">
          <div class="card-body text-center" style="display: block; ;background-color: rgba(255,255,255,0.4); ">
            <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
              [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row animated rotateInDownLeft" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center; padding-left: 10px; padding-right: 10px; ">
      <mat-form-field>
        <input matInput placeholder="Search here" (keyup)='updateFilter()' [(ngModel)]="val">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Searching In" name="SearchHere" (selectionChange)="updateFilter()" [(ngModel)]="searchIn" ngDefaultControl>

          <mat-option value="Multiple">Multiple</mat-option>
          <mat-option value="TicketNo">TicketNo</mat-option>
          <mat-option value="Subject">Subject</mat-option>
          <mat-option value="TicketDescription">Description</mat-option>
          <mat-option value="TeamName">Team</mat-option>
          <mat-option value="ProjectName">Project</mat-option>
          <mat-option value="CompanyName">Company</mat-option>
          <mat-option value="Priority">Priority</mat-option>
          <mat-option value="AssignByName">Assign By</mat-option>
          <mat-option value="AssignToName">Assign To</mat-option>
          <mat-option value="CancelByName">Cancel By</mat-option>
          <mat-option value="CloseByName">Close By</mat-option>
          <mat-option value="CreatedByName">Craeted By</mat-option>
          <mat-option value="HoldByName">Hold By</mat-option>
          <mat-option value="WIPByName">WIP By</mat-option>

        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Sorting On" name="SortHere" (selectionChange)="updateFilter()" [(ngModel)]="valSort" ngDefaultControl>

          <mat-option value="">None</mat-option>

          <mat-option value="TicketNo">TicketNo</mat-option>

          <mat-option value="Priority">Priority</mat-option>

          <mat-option value="Subject">Subject</mat-option>

          <mat-option value="TicketDescription">Description</mat-option>

          <mat-option value="CreatedDate">Creation Date</mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Sort Type" name="SortType" (selectionChange)="updateFilter()" [(ngModel)]="ascSort" ngDefaultControl>

          <mat-option value=true>Ascending</mat-option>

          <mat-option value=false>Descending</mat-option>

        </mat-select>
      </mat-form-field>
      <mat-form-field>

        <mat-select placeholder="Allocation" name="SortType" (selectionChange)="updateFilter()" [(ngModel)]="allocationType" ngDefaultControl>

          <mat-option value="Team">Team</mat-option>

          <mat-option value="OnlyMe">My Tickets Only</mat-option>

          <mat-option value="ExceptMe">Team but Except Me</mat-option>

        </mat-select>
      </mat-form-field>
      <mat-checkbox color="primary" matTooltip="Grid view of tickets" [(ngModel)]="condensedView">Condensed View</mat-checkbox>
      <i class="fa fa-bar-chart" matTooltip="Click to see Chart" (click)="toggleChart()" style="padding-bottom: 10px"></i>
      <i class="fa fa-refresh" matTooltip="Clear and refresh" (click)="clearSerchCriteria()" style="padding-bottom: 10px;"></i>
    </div>


    <!-- </div> -->

    <div class="row justify-content-center animated slideInUp">
      <div class="col">
        <div class="mx-auto">
          <div class="container-fluid" *ngFor="let src of source; let i=
            index;">

            <div class="row" *ngIf="this.ticketLogTypeSelector===src.status">
              <div class="col">

                <div>

                  <div class="card-header" style="border-radius: 5px; background-color: white; text-align: center; font-weight: bold; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
                    <strong>{{src.status}}</strong>
                  </div>

                  <div class="card" *ngIf="!condensedView">
                    <div id="cardPanel">
                      <div class="row ticketBody" *ngIf="src.data.length==0">No data found</div>
                      <div class="card-body" *ngFor="let data of
                        src.data; let p= index;" id="ticket">

                        <div class="row ticketBody" aria-expanded="true">
                          <div class="col-2">
                            <a (click)="demoBasic.show(); updateModal(data);" matTooltip="Ticket No" style="color: #32375f">
                              <strong>#{{data.TicketNo}}</strong>
                            </a>
                          </div>
                          <div class="col-10" data-target="#basicExample">

                            <div style="padding-left: 10px ;display: flex;flex-direction: row; justify-content: space-between; 
                                   align-items: center; color: #32375f">

                              <strong (click)="demoBasic.show(); updateModal(data);">{{data.Subject}}</strong>
                              <div style="display: flex; flex-direction: row; flex-wrap: row">

                                <div class="text-center card-text z-depth-1" style="border-radius: 5px; padding-left: 5px; padding-right: 5px; margin-right: 5px; cursor: pointer;"
                                  mat-icon-button [matMenuTriggerFor]="menu">
                                  <strong>Actions&nbsp;
                                    <i class="fa fa-caret-down"></i>
                                  </strong>
                                </div>

                                <mat-menu class="actionsButton" #menu="matMenu">

                                  <button mat-menu-item [disabled]="!(src.status=== 'Open' && 
                                          dashboardState==='mytickets')" (click)="processTicket(data.Oid,2)">
                                    <span>Take Ticket</span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item [disabled]="!(((src.status=== 'Hold' || src.status==='Close') && userRole==='Manager') || (src.status==='Hold' &&  userRole==='User' && dashboardState==='mytickets') || ((src.status=== 'Hold' || src.status==='Close') && userRole==='User' && dashboardState==='mytickets' && Oid===data.TeamLeader.toString()))"
                                    (click)="processTicket(data.Oid,1)">
                                    <span>Re-open</span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item [disabled]="!((src.status==='Open' || src.status==='WIP') && (userRole==='Manager'
                                          || (dashboardState==='mytickets' && userRole==='User' && Oid===data.TeamLeader.toString())))"
                                    (click)="processTicket(data.Oid,3)">
                                    <span>Hold</span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item [disabled]="!((userRole==='Manager' || (src.status==='WIP' && (dashboardState==='mytickets' && userRole==='User'))) && src.status!=='Close' && src.status!=='Cancel')"
                                    (click)="processTicket(data.Oid,4)">
                                    <span>Close</span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item [disabled]="!(userRole==='Manager' || (dashboardState==='mytickets' && userRole==='User' && Oid===data.TeamLeader.toString()) && (src.TicketStatus==='Open' || src.TicketStatus==='WIP' || src.TicketStatus==='Hold'))"
                                    (click)="processTicket(data.Oid,5)">
                                    <span>Cancel</span>
                                  </button>
                                  <mat-divider></mat-divider>
                                  <button mat-menu-item style="font-style: oblique" [disabled]="(src.status==='Cancel' || src.status==='Close' || dashboardState==='byme') && Oid !== TeamLeader" [matMenuTriggerFor]="assignMenu">
                                    <span style="margin-right: 10px">Assign Ticket</span>
                                  </button>
                                  <button mat-menu-item style="font-style: oblique" [disabled]="src.status==='Close' || src.status==='Cancel'" [matMenuTriggerFor]="priorityMenu">
                                    <span style="margin-right: 10px">Change Priority</span>
                                  </button>
                                  <button mat-menu-item style="font-style: oblique" (click)="openTicketMessage(i,p)">
                                    <span style="margin-right: 10px">Message</span>
                                    <i class="fa fa-comment"></i>
                                  </button>
                                </mat-menu>
                                <mat-menu #priorityMenu="matMenu">
                                    <button mat-menu-item (click)="changePriority(i, p, 'High')">High</button>
                                    <button mat-menu-item (click)="changePriority(i, p, 'Medium')">Medium</button>
                                    <button mat-menu-item (click)="changePriority(i, p, 'Low')">Low</button>
                                  </mat-menu>
                                  <mat-menu #assignMenu="matMenu" >
                                    <button mat-menu-item *ngFor="let item of data.TeamMembers; let id= index;" (click)="assignTicket(i, p, item.UserID)">{{item.UserName | titlecase}}</button>
                                  </mat-menu>
                                <span *ngIf="data.Priority!==''" class="badge" matTooltip="Priority" [ngClass]="{
                                      'red': data.Priority === 'High',
                                      'blue': data.Priority === 'Medium',
                                      'green': data.Priority === 'Low'
                                    }" style="width:75px;">{{data.Priority}}</span>
                              </div>

                            </div>
                            <div class="card-text text-center" style="padding: 10px;  margin-top: 5px; border-bottom: 1px solid rgba(255, 255, 255, 0); margin-right: 10px; display: flex; align-items: center; border-radius: 5px; "
                              (click)="demoBasic.show(); updateModal(data);">
                              <strong>Description:</strong>&nbsp;{{data.TicketDescription}}
                            </div>

                            <div class="card-text" style="padding-left: 10px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; font-size: medium; justify-items: center;">
                              <div class="badge-light2 mr-1" matTooltip="Time after creation of ticket" (click)="demoBasic.show(); updateModal(data);">
                                <time>
                                  <strong>{{ data.CreatedDate | timeAgo}}</strong>
                                </time>
                              </div>
                              <div class="badge-light2 mr-1" matTooltip="Ticket assigned to team" (click)="demoBasic.show(); updateModal(data);">
                                Team: {{data.TeamName | titlecase}}
                              </div>
                              <div class="badge-light2 mr-1" matTooltip="Ticket assigned to person" (click)="demoBasic.show(); updateModal(data);">
                                Assign To: {{ data.AssignToName | titlecase}}
                              </div>
                              <div class="badge-light2 mr-1" matTooltip="Ticket created by" (click)="demoBasic.show(); updateModal(data);">
                                Created By: {{ data.CreatedByName | titlecase}}
                              </div>
                              <div class="row badge-light2 mr-1" matTooltip="Last communication" (click)="openTicketMessage(i,p)">
                                {{data.Message.OperationByName | titlecase}}: {{data.Message.MessageLog}} -
                                <time> {{data.Message.OperationDate | timeAgo }} </time>
                              </div>

                            </div>
                            <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between">

                              <div style="display: flex; flex-direction: row; justify-content: flex-end; flex-wrap: wrap; padding-right: 10px;">


                                <!-- <button class="btn btn-sm btn-outline-info" *ngIf="src.status=== 'Open' && 
                                  dashboardState==='mytickets'" (click)="processTicket(data.Oid,2)">
                                  <strong>Take Ticket
                                  </strong>
                                </button>

                                <button class="btn btn-sm btn-outline-info" *ngIf="((src.status=== 'Hold' || src.status==='Close') && userRole==='Manager') || (src.status==='Hold' &&  userRole==='User' && dashboardState==='mytickets') || ((src.status=== 'Hold' || src.status==='Close') && userRole==='User' && dashboardState==='mytickets' && Oid===data.TeamLeader.toString())"
                                  (click)="processTicket(data.Oid,1)">
                                  <strong>Re-open</strong>
                                </button>

                                <button class="btn btn-sm
                                  btn-outline-warning" *ngIf="(src.status==='Open' || src.status==='WIP') && (userRole==='Manager'
                                  || (dashboardState==='mytickets' && userRole==='User' && Oid===data.TeamLeader.toString()))"
                                  (click)="processTicket(data.Oid,3)">
                                  <strong>Hold</strong>
                                </button>

                                <button class="btn btn-sm
                                  btn-outline-success" *ngIf="(userRole==='Manager' || (src.status==='WIP' && (dashboardState==='mytickets' && userRole==='User'))) && src.status!=='Close' && src.status!=='Cancel'"
                                  (click)="processTicket(data.Oid,4)">
                                  <strong>Close</strong>
                                </button>

                                <button class="btn btn-sm
                                  btn-outline-danger" *ngIf="userRole==='Manager' || (dashboardState==='mytickets' && userRole==='User' && Oid===data.TeamLeader.toString()) && (src.TicketStatus==='Open' || src.TicketStatus==='WIP' || src.TicketStatus==='Hold')"
                                  (click)="processTicket(data.Oid,5)">
                                  <strong>Cancel</strong>
                                </button> -->

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card hoverable animated slideInUp" *ngIf="condensedView">
                    <ngx-datatable #table class="material" [rows]="src.data" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                      [rowHeight]="50" [reorderable]="'true'" [limit]="7" [scrollbarH]="true" [loadingIndicator]="loadingIndicator">

                      <ngx-datatable-column name="" [width]="80" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                          <a class="fa fa-reply" (click)="selectRow(row)"></a>&nbsp;
                          <a class="fa fa-link" data-target="#basicExample" (click)="demoBasic.show(); updateModal(row);"></a>&nbsp;

                        </ng-template>

                      </ngx-datatable-column>
                      <ngx-datatable-column name="Ticket" prop="TicketNo"></ngx-datatable-column>
                      <ngx-datatable-column name="Subject" prop="Subject" [width]="300">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <strong style="color: #32375f">{{value }}</strong>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Description" prop="TicketDescription" [width]="400"></ngx-datatable-column>
                      <ngx-datatable-column name="Team" prop="TeamName" [width]="180">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Created By" prop="CreatedByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <div class="text-center" style="border: 1px solid rgba(255, 255, 255, 0); border-radius: 5px; background-color: beige">
                            {{value | titlecase}}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Created On" prop="CreatedDate">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <time>{{value | timeAgo}}</time>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Assign To" prop="AssignToName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <div class="badge blue text-center" style="border: 1px solid rgba(255, 255, 255, 0); border-radius: 5px; background-color: beige">
                            {{value | titlecase}}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Assign On" prop="AssignDate">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <time>{{value | timeAgo}}</time>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Company" prop="CompanyName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Project" prop="ProjectName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Priority" prop="Priority"></ngx-datatable-column>
                      <ngx-datatable-column name="Last Update By" prop="Message.OperationByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Last Update On" prop="Message.OperationDate">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <time>{{value | timeAgo}}</time>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column [width]="150" name="Last Update" prop="Message.MessageLog"></ngx-datatable-column>
                      <ngx-datatable-column name="Assign By" prop="AssignByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Cancel By" prop="CancelByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Close By" prop="CloseByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Created By" prop="CreatedByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Hold By" prop="HoldByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="WIP By" prop="WIPByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt-5 mx-auto animated zoomIn" *ngIf="userRole==='Administrator'">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <h1 class="h3-responsive">
                <i class="fa fa-cog"></i>&nbsp;Welcome to Admin Panel, {{userName | titlecase}}
              </h1>
              <hr>

              <div class="card-text">

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col">

                    <div class="dropdown-item waves-light" [routerLink]="['company']" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-building" aria-hidden="true"></i>
                          Company</a>
                      </div>
                    </div>

                  </div>

                  <div class="col">

                    <div [routerLink]="['project']" class="dropdown-item
                          waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-industry" aria-hidden="true"></i>
                          Project</a>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col">

                    <div [routerLink]="['user']" class="dropdown-item
                          waves-light" mdbWavesEffec>
                      <div class="card-body">
                        <a routerLinkActive="animated">
                          <i class="fa fa-user-circle" aria-hidden="true"></i>
                          User</a>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div [routerLink]="['team']" class="dropdown-item
                          waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-cubes" aria-hidden="true"></i>
                          Team</a>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row" style="margin-bottom: 25px;">
                  <div class="col">
                    <div [routerLink]="['ticket-type']" class="dropdown-item
                          waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-ticket" aria-hidden="true"></i>
                          Ticket Type</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider dropdown-divider"></div>

            <div class="" [routerLink]="['create-ticket']" class="dropdown-item
                  waves-light" routerLinkActive="animated" mdbWavesEffect>
              <div class="card-body">
                <a>
                  <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Ticket
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div mdbModal #demoBasic="mdb-modal" class="modal fade fontclass" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-fluid modalsize" role="document">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="{
        'moddef':modalData.TicketStatus=='1',
        'modpri':modalData.TicketStatus=='2',
        'modwar':modalData.TicketStatus=='3',
        'modsuc':modalData.TicketStatus=='4',
        'modgre':modalData.TicketStatus=='5'
        }">
        <h4 style="color: rgb(69, 84, 92); font-weight: bold;" class="modal-title" id="myModalLabel">#{{modalData.TicketNo}}:&nbsp;
          <strong>{{modalData.Subject}}</strong>
          <br>
        </h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="big" style="padding-left: 10px;color: rgb(49, 49, 49);">
          <span> Created &nbsp;: &nbsp;</span>
          {{ modalData.CreatedDate | timeAgo}} &nbsp;By&nbsp; {{ modalData.CreatedByName | titlecase}}
          <br>
          <span *ngIf="modalData.AssignToName !== ''">Assignto&nbsp;:&nbsp;&nbsp;{{ modalData.AssignToName | titlecase}}</span>
        </div>

        <table class="table table-responsive">
          <thead>
            <tr class="fontclass">
              <th></th>
              <th>Create</th>
              <th>
                <span [ngClass]="{'space': modalData.AssignByName == ''}">Assign</span>
              </th>
              <th>
                <span [ngClass]="{'space': modalData.WIPByName == ''}">WIP</span>
              </th>
              <th>
                <span [ngClass]="{'space': modalData.HoldByName == ''}">Hold</span>
              </th>
              <th>
                <span [ngClass]="{'space': modalData.CloseByName == ''}">Close</span>
              </th>
              <th>
                <span [ngClass]="{'space': modalData.CancelByName == ''}">Cancel</span>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Date&nbsp;:&nbsp;</td>
              <td>
                <div>{{modalData.CreatedDate | date }}</div>
              </td>
              <td>
                <div *ngIf="modalData.AssignByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.AssignByName !== ''">{{modalData.AssignDate | date }}</div>
              </td>
              <td>
                <div *ngIf="modalData.WIPByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.WIPByName !== ''">{{modalData.WIPDate | date }}</div>
              </td>
              <td>
                <div *ngIf="modalData.HoldByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.HoldByName !== ''">{{modalData.HoldDate | date }}</div>
              </td>
              <td>
                <div *ngIf="modalData.CloseByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.CloseByName !== ''">{{modalData.CloseDate | date }}</div>
              </td>
              <td>
                <div *ngIf="modalData.CancelByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.CancelByName !== ''">{{modalData.CancelDate | date }}</div>
              </td>
            </tr>


            <tr>
              <td>Time&nbsp;:&nbsp;</td>
              <td>
                <div>{{modalData.CreatedDate | date: 'shortTime'}}</div>
              </td>
              <td>
                <div *ngIf="modalData.AssignByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.AssignByName !== ''">{{modalData.AssignDate | date: 'shortTime'}}</div>
              </td>
              <td>
                <div *ngIf="modalData.WIPByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.WIPByName !== ''">{{modalData.WIPDate | date: 'shortTime'}}</div>
              </td>
              <td>
                <div *ngIf="modalData.HoldByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.HoldByName !== ''">{{modalData.HoldDate | date: 'shortTime'}}</div>
              </td>
              <td>
                <div *ngIf="modalData.CloseByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.CloseByName !== ''">{{modalData.CloseDate | date: 'shortTime'}}</div>
              </td>
              <td>
                <div *ngIf="modalData.CancelByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.CancelByName !== ''">{{modalData.CancelDate | date: 'shortTime'}}</div>
              </td>
            </tr>


            <tr>
              <td>By&nbsp;:&nbsp;</td>
              <td>
                <div>{{modalData.CreatedByName | titlecase}}</div>
              </td>
              <td>
                <div *ngIf="modalData.AssignByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.AssignByName !== ''">{{modalData.AssignByName | titlecase}}</div>
              </td>
              <td>
                <div *ngIf="modalData.WIPByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.WIPByName !== ''">{{modalData.WIPByName | titlecase}}</div>
              </td>
              <td>
                <div *ngIf="modalData.HoldByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.HoldByName !== ''">{{modalData.HoldByName | titlecase}}</div>
              </td>
              <td>
                <div *ngIf="modalData.CloseByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.CloseByName !== ''">{{modalData.CloseByName | titlecase}}</div>
              </td>
              <td>
                <div *ngIf="modalData.CancelByName == ''">
                  <span class="space"></span>
                </div>
                <div *ngIf="modalData.CancelByName !== ''">{{modalData.CancelByName | titlecase}}</div>
              </td>
            </tr>

          </tbody>
        </table>


      </div>

    </div>
  </div>
</div>
