label {
  margin-left: 15px;
}

.customHeader {
  background: linear-gradient(to right, #F50057, #ff1744);
}


.danger {
  color: red;
}

.userName {
  margin-top: 15px !important;
}


.mat-form-field {
  width: 100%;
}